/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header, section, footer {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* 중앙 정렬을 위한 추가 스타일 */
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}

#details img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
