/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url('images/SwitzerlandSummerFI.jpg'); /* 이미지 파일의 경로를 정확하게 지정해야 합니다. */
    background-size: cover; /* 이미지를 화면에 꽉 채우도록 설정합니다. */
    background-position: center; /* 이미지를 가운데 정렬합니다. */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다. */
}

header, section, footer {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}

#details img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
